        <section class="last-game ">
            <div class="last-game-content">
                <h2>Next Game</h2>
                <div class="last-game-info">
                    <span class="team">Real Madrid</span>
                    <span class="vs">vs</span>
                    <span class="team">Barcelona</span>
                </div>
                <div class="last-game-details">
                    <span class="time">5:00 PM</span>
                    <span class="location"><img src="{{ asset('images/location.png') }}">Spain</span>
                </div>
                <button class="join-now">Join Now</button>
            </div>
        </section>