
    <div class="form-container">
        <h2>Register</h2>
        <form>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="birth-date">Birth Date</label>
                <input type="date" id="birth-date" name="birth-date" required>
            </div>
            <div class="form-group">
                <label for="team">French Ligue 1 Team</label>
                <select id="team" name="team" required>
                    <option value="">Select your team</option>
                    <option value="Angers">Angers</option>
                    <option value="Auxerre">Auxerre</option>
                    <option value="Brest">Brest</option>
                    <option value="HAC">Le Havre</option>
                    <option value="Lens">Lens</option>
                    <option value="Lille">Lille</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Marseille">Marseille</option>
                    <option value="Monaco">Montpellier</option>
                    <option value="Nantes">Nantes</option>
                    <option value="Nice">Nice</option>
                    <option value="PSG">PSG</option>
                    <option value="Reims">Reims</option>
                    <option value="Rennes">Rennes</option>
                    <option value="ASSE">Saint-Etienne</option>
                    <option value="Strasbourg">Strasbourg</option>
                    <option value="Toulouse">Toulouse</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
